.home-navbar {
  width: 100%;
  height: 773px;
  display: flex;
  background: url("/public/img/banner.png");
  background-size: cover;
}

.home-navbar a {
  text-decoration: none;
}

.home-navbar .hover-line a {
  color: #f8f8ff;
  z-index: 100;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}
.home-navbar .underline {
  display: flex;
  content: "";
  border-bottom: solid 2px #d7b686;
}
.home-navbar .hover-line:after {
  display: flex;
  content: "";
  border-bottom: solid 2px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.home-navbar .hover-line:hover:after {
  transform: scaleX(1);
}
.home-navbar .div.hover-line:after {
  transform-origin: 0% 50%;
}

.home-navbar .login-button {
width: 78.83px;
height: 37px;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
