.home-navbar {
  width: 100%;
  height: 773px;
  display: flex;
  background: url("/public/img/banner.png");
  background-size: cover;
}

.home-navbar a {
  text-decoration: none;
}

.home-navbar .hover-line a {
  height: 19.528px;
  color: #f8f8ff;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}
.home-navbar .navbar-container {
  height: 643.52px;
  margin-top: 55px;
}
.home-navbar .navbar-container .menu {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.home-navbar .navbar-container .menu .brand-logo {
  width: 125px;
  height: 30px;
}
.home-navbar .navbar-container .menu .nav-links {
  min-width: 700px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.home-navbar .navbar-container .menu .user {
  width: 50px;
  height: 50px;
  border-radius: 24px;
}
.home-navbar .underline {
  display: flex;
  content: "";
  border-bottom: solid 2px #d7b686;
}
.home-navbar .hover-line:after {
  display: flex;
  content: "";
  border-bottom: solid 2px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home-navbar .hover-line:hover:after {
  transform: scaleX(1);
}
.home-navbar .div .hover-line:after {
  transform-origin: 0% 50%;
}

.home-navbar .login-button {
  width: 78.83px;
  height: 37px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-navbar .navbar-container .header-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 142px;
  height: 462xp;
}

.home-navbar .navbar-container .header-frame .detail {
  display: flex;
  flex-direction: column;
  width: 510px;
}

.home-navbar .navbar-container .header-frame .detail .head-main-text {
  width: 450px;
  height: 150px;
  color: #f8f8ff;
  font-family: "Roboto Serif";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.75px;
}
.home-navbar .navbar-container .header-frame .detail .wel-text {
  width: 501px;
  height: 42px;
  color: #d7b686;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
}
.home-navbar .navbar-container .header-frame .detail .service {
  margin-top: 22px;
  width: 153px;
  height: 23px;
  color: #d5d5d5;
  font-family: "Roboto Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}
.home-navbar .navbar-container .header-frame .detail .sign-up {
  width: 210px;
  height: 60px;
  border-radius: 4px;
  background: #1976d2;
  color: #f8f8ff;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home-navbar .navbar-container .logo-frame {
  margin-top: 44px;
width: 689.47px;
height: 418.902px;
}
.home-navbar .navbar-container .logo-frame .logo-image {
    width: 689.47px;
height: 418.902px;

background: url("/public/img/logo.webp");
background-size: contain;
background-repeat: no-repeat;
filter: invert(25%);
}


