.products-page .products .avatar-big-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 140px;
}

.products-page .products .avatar-big-box .title {
  color: #343434;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.products-page .products .avatar-big-box .search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .products .avatar-big-box .input {
  width: 360px;
  height: 28.541px;
  margin-right: -106px;
  border-radius: 18.5px;
  border: 1px solid #fff;
  background: #fffcfc;
  box-shadow: 0 4px 4px 0 rgba(212, 212, 212, 0.25);
  color: #4a4a4a;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 17px;
}

.products-page .products .avatar-big-box .btn {
  width: 106px;
  height: 32px;
  border-radius: 18.5px;
  background: #343434;
  z-index: 100;
}

.products-page .products .dishes-filter-section {
  margin-top: 64px;
  width: 100%;
}

.products-page .products .dishes-filter-section .dishes-filter-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 40px;
}

.products-page .products .sidebar button {
  transform: rotate(-90deg);
}

.products-page .products .product-filter-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.products-page .products .product-filter-section .sidebar-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.products-page .products .product-filter-section .sidebar-btns .button {
  width: 68px;
  height: 36px;
  transform: rotate(-90deg);
}

.products-page .products .product-wapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 33px;
  cursor: pointer;
}

.products-page .products .product-wapper .product-img:hover .shop-btn {
  opacity: 1;
}

.products-page .products .product-wapper .product-img:hover .view-btn {
  opacity: 1;
}

.products-page .products .product-wapper .product-img {
  width: 270px;
  height: 275px;
  border-radius: 0 50px 0 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

.products-page .products .product-wapper .product-sale {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 0px 10px;
  border-radius: 25px;
  background: #ff9200;
  box-shadow: 4px 6px 20px 0 rgba(0, 0, 0, 0.1);
  width: 90px;
  height: 30px;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.products-page .products .product-wapper .shop-btn {
  opacity: 0;
  position: absolute;
  bottom: 12px;
  right: 105px;
  border-radius: 10px;
  border: 1px solid #e3c08d;
  background: rgba(187, 47, 200, 0.78);
  width: 64px;
  height: 46px;
  transform: scale(0.8);
  transition: 0.3s;
}

.products-page .products .product-wapper .view-btn {
  opacity: 0;
  position: absolute;
  bottom: 12px;
  right: 37px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  border: none;
  transform: scale(0.8);
  transition: 0.3s;
}

.products-page .products .product-wapper .prduct-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
}

.products-page .products .product-wapper .product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .products .product-wapper .product-title {
  color: #343434;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.products-page .products .product-wapper .product-price {
  color: #e3c08d;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.products-page .products .product-wapper .pagination {
  margin-top: 10px;
}

.products-page .products .brands-frame {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #0d1518;
  margin-top: 67px;
  height: 630px;
  padding-top: 84px;
  gap: 60px;
}

.products-page .products .brands-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 87px;
}

.products-page .products .brands-detail .brands-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258.78px;
  height: 350px;
  border-radius: 20px;
  background: #0d1518;
  box-shadow: 0 0 22px 0 #e4d4d4;
}

.products-page .products .brands-frame .brands-item .img {
  width: 238.874px;
  height: 329px;
  box-shadow:
    0 4px 4px 0 rgba(0, 0, 0, 0.25) inset,
    0 4px 4px 0 rgba(0, 0, 0, 0.25) inset,
    0 4px 16px 0 rgba(242, 189, 87, 0.04) inset;
  border-radius: 16px;
}

.products-page .products .brands-frame .title {
  color: #e3c08d;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.products-page .products .address {
  width: 100%;
  margin-top: 47px;
  margin-bottom: 90px;
}

.products-page .products .address .map-image {
  width: 100%;
  margin-top: 60px;
  width: 1320px;
  height: 500px;
}

.products-page .products .address .our-addres {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.products-page .products .address .our-addres .address-title {
  color: #343434;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}